body{
    height: 100vh;
    /*background-color: black;
    background-image: url('images/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;

    a imagem de fundo é redimensionada para preencher todo o elemento, mantendo as proporções da imagem.
    background-size: cover;

    permite que só o conteúdo role, mas não a img de fundo
    background-attachment: fixed;*/

    /*
    shorthand - background
    
    color > image > position > repeat > [size] > attachment
    */

    background: black url('images/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}

